body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn {
  text-decoration: none;
  color: black;
  margin: 2px;
  padding: 10px;
  color: white;
}
.btn-active {
  background-color: black;
  color: white;
}
.btn-inActive {
  background-color: #0288d1;
}
.courses-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  border: 2px solid red;
}
.card-title {
  text-align: center;
}
.card-img {
  height: 170px;
}
.card-btn {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px 2px;
  transition: 0.8s background-color;
  background-color: #29b6f6;
  color: white;
}
.card-btn:hover {
  background-color: #0288d1;
}

/* CourseDetail Top */

.container-top {
  border: 2px solid red;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-top_img {
  width: 100%;
}
.container-top_title {
  text-align: center;
}

/* content */
.content {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin: 0 auto;
  gap: 120px;
  margin-top: 50px;
}
.learn {
  display:flex;
  gap: 40px
}
.learn-item {
  display: flex;
  /* align-items: center; */
  max-width: 300px;
  margin-bottom: 15px;
}
.learn-icon {margin-right: 5px;}

.includes-title {
  display: inline;
}
.includes-item {
display: flex;
align-items: center;
margin: 4px
}
.includes-icon {
  margin-right: 5px;
  margin-bottom: -4px;
}